<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>试剂信息管理新增</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" href="/css/font.css">
	<link rel="stylesheet" href="/css/xadmin.css">
	<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
	<!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
	<div class="x-body">
		<form class="layui-form layui-form-pane">
			<div class="layui-form-item">
				<label for="name" class="layui-form-label">试剂名称</label>
				<div class="layui-input-block">
					<input type="text" name="reagentName" autocomplete="off" placeholder="请输入试剂名称" class="layui-input" lay-verify="required">
				</div>
			</div>
			<div class="layui-form-item">
				<label for="name" class="layui-form-label">规格</label>
				<div class="layui-input-block">
					<input type="text" name="standard" autocomplete="off" placeholder="请输入试剂规格" class="layui-input" lay-verify="required">
				</div>
			</div>
			<div class="layui-form-item">
				<label for="name" class="layui-form-label">试剂类型</label>
				<div class="layui-input-block" >
					<select name="type" id="reagentType">
						<option v-for="reagentType in reagentTypes" v-bind:value="reagentType.dictCode">{{reagentType.dictName}}</option>
					  </select>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-inline">
					<label for="name" class="layui-form-label">入库数量</label>
					<div class="layui-input-inline" >
						<input type="text" name="stock" autocomplete="off" placeholder="请输入入库数量 " lay-verify="number" class="layui-input" lay-verify="required">
					</div>
				</div>
				<div class="layui-inline">
					<label for="name" class="layui-form-label">数量单位</label>
					<div class="layui-input-inline" >
						<select name="unit" id="unitType">
							<option v-for="unitType in unitTypes" v-bind:value="unitType.dictCode">{{unitType.dictName}}</option>
						  </select>
					</div>
				</div>
			</div>
			<div class="layui-form-item">
				<button class="layui-btn" lay-submit="" lay-filter="add">添加</button>
			</div>
		</form>
	</div>
	<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="/lib/layui/layui.js"></script>
	<script type="text/javascript" src="/js/xadmin.js"></script>
	<script type="text/javascript" src="/js/session.js"></script>
	<script type="text/javascript" src="/js/vue.min.js"></script>
	<script>
		var reagentType = new Vue({
			el: '#reagentType',
			data: {
				reagentTypes: []
			}
		})
		var unitType = new Vue({
			el: '#unitType',
			data: {
				unitTypes: []
			}
		})
		$.ajax({
			url : '/dict/type/reagent_type',
			async : false,
			success : function(res){
				if(res.code == 0){
					reagentType.reagentTypes = res.data
				}
			}
		})
		$.ajax({
			url : '/dict/type/quantity_unit',
			async : false,
			success : function(res){
				if(res.code == 0){
					unitType.unitTypes = res.data
				}
			}
		})
		layui.use(['form', 'layer', 'laydate'], function () {
			var form = layui.form;
			var layer = layui.layer;
			form.render('select');
			//监听提交
			form.on('submit(add)', function (data) {
				console.log(JSON.stringify(data.field));
				$.axpost('/work/reagent', data.field, function (result) {
					if (result.code == 0) {
						layer.alert("增加成功", {
							icon: 6
						}, function () {
							window.parent.location.reload();
							x_admin_close();
						});
					} else {
						layer.msg(result.msg);
					}
				})
				return false;
			});
		});
	</script>
</body>

</html>