<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.peng.lammy.dao.work.ReagentDao">
	<insert id="insert" parameterType="com.peng.lammy.domain.po.work.Reagent" useGeneratedKeys="true" keyProperty="id">
INSERT INTO LAMMY_REAGENT(REAGENT_NAME,STANDARD,"TYPE",STOCK,UNIT,CREATED_TIME,UPDATE_TIME,IS_DELETE)
VALUES(#{reagentName},#{standard},#{type},#{stock},#{unit},#{createdTime},#{updateTime},0) 
	</insert>
	
	<!-- 查询所有的试剂信息 -->
	<select id="listReagent" resultType="com.peng.lammy.domain.po.work.Reagent" parameterType="com.peng.lammy.domain.po.work.Reagent">
SELECT
	a.ID,
	a.REAGENT_NAME,
	a.STANDARD,
	b.DICT_NAME "TYPE",
	a.STOCK,
	c.DICT_NAME UNIT
FROM
	LAMMY_REAGENT a
LEFT JOIN LAMMY_DICTIONARY b ON
	a."TYPE" = b.DICT_CODE
LEFT JOIN LAMMY_DICTIONARY c ON
	a.UNIT = c.DICT_CODE
WHERE
	a.IS_DELETE = 0	
<if test="reagentName!=null and reagentName!=''">
AND a.REAGENT_NAME LIKE #{reagentName} 
</if>
<if test="type!=null and type!=''">
AND a."TYPE" = #{type}
</if>
	</select>
	
	<update id="update" parameterType="com.peng.lammy.domain.po.work.Reagent">
UPDATE LAMMY_REAGENT SET REAGENT_NAME = #{reagentName},STANDARD = #{standard},"TYPE" = #{type},UNIT = #{unit},UPDATE_TIME = #{updateTime} WHERE ID= #{id}	
	</update>
</mapper>