<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.peng.lammy.dao.NotepadDao">
	
	<select id="listNotepad" resultType="com.peng.lammy.domain.po.Notepad" parameterType="com.peng.lammy.domain.po.Notepad">
select * from LAMMY_NOTEPAD 
where USER_ID = #{userId} 
<if test="state!=null">
	AND	STATE = #{state}
</if>
<if test="title!='' and title!=null">
	AND	TITLE like #{title}
</if>
AND IS_DELETE = 0 order by UPDATE_TIME desc	
	</select>
	
</mapper>